{{define "add_record"}}
    {{template "admin_header" .}}
    {{template "admin_left" .}}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{.title}}
            </h1>
        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- left column -->
                <div class="col-md-6">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title" id="show_msg"></h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form action="/admin/record" method="post" enctype="multipart/form-data">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">失踪者姓名</label>
                                    <input type="text" class="form-control" id="name" name="name" >
                                </div>
                                <div class="form-group">
                                    <label>性别</label>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="sex" id="sex" value="1" checked>
                                            男
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="sex" id="sex" value="2">
                                            女
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address">失踪地点</label>
                                    <input type="text" class="form-control" id="address" name="address">
                                </div>
                                <div class="form-group">
                                    <label for="date">失踪日期</label>
                                    <input type="date" class="form-control" id="date" name="date">
                                </div>
                                <div class="form-group">
                                    <label for="photo">照片</label>
                                    <input type="file" id="photo" name="photo">
                                </div>
                                <div class="form-group">
                                    <label for="remark">备注</label>
                                    <textarea class="form-control" rows="3" id="remark" name="remark"></textarea>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                    <!--/.col (right) -->
                </div>
                <!-- /.row -->
            </div>
        </section>
        <!-- /.content -->
    </div>
    {{template "admin_footer" .}}
    <script>
        $(function () {
            $('form').submit(function (e) {
                e.preventDefault();

                if ($('#name').val() == '') {
                    $("#name").focus();
                    $("#show_msg").text('请输入姓名');
                    return
                }

                if ($('#sex').val() == '') {
                    $("#sex").focus();
                    $("#show_msg").text('请选择性别');
                    return
                }

                if ($('#address').val() == '') {
                    $("#address").focus();
                    $("#show_msg").text('请输入失踪地点');
                    return
                }

                if ($('#date').val() == '') {
                    $("#date").focus();
                    $("#show_msg").text('请输入失踪日期');
                    return
                }

                if ($('#photo').val() == '') {
                    $("#show_msg").text('请上传照片');
                    return
                }

                var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                if ($.inArray($('#photo').val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                    $("#show_msg").text('照片格式只支持：' +fileExtension.join(', ') );
                    return
                }

                var fd = new FormData($(this)[0]);

                $.ajax({
                    url: e.currentTarget.action,
                    type: 'post',
                    dataType: 'json',
                    data: fd,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        $("#show_msg").text('添加成功');
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        $("#show_msg").text(XMLHttpRequest.responseJSON.errmsg);
                    }
                });
            });
        });
    </script>
{{end}}