{{define "admin_left"}}
<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->

        <div class="user-panel">
            <a href="#">欢迎你，{{.name}}</a>
        </div>
        <!-- search form -->

        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview {{if eq .leftMenu "user"}}active{{end}}">
                <a href="#">
                    <i class="fa fa-user"></i> <span>用户管理</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    {{if eq .role 3}}
                    <li {{if eq .menu "user_list"}}class="active"{{end}}><a href="/admin/userList"><i class="fa fa-circle-o"></i> 用户列表</a></li>
                    <li {{if eq .menu "add_user"}}class="active"{{end}}><a href="/admin/user"><i class="fa fa-circle-o"></i> 添加用户</a></li>
                    {{end}}
                    <li {{if eq .menu "user_edit"}}class="active"{{end}} ><a href="/admin/user/{{.userId}}"><i class="fa fa-circle-o"></i> 我的信息</a></li>
                    <li {{if eq .menu "password"}}class="active"{{end}}><a href="/admin/user/{{.userId}}/password"><i class="fa fa-circle-o"></i> 修改密码</a></li>
                </ul>
            </li>
            <li class="treeview {{if eq .leftMenu "record"}}active{{end}}">
                <a href="#">
                    <i class="fa fa-files-o"></i> <span>寻人管理</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    {{if (or (eq .role 3) (eq .role 2))}}
                    <li {{if eq .menu "record_list"}}class="active"{{end}}><a href="/admin/recordList"><i class="fa fa-circle-o"></i> 寻人列表</a></li>
                    {{end}}
                    <li {{if eq .menu "user_record_list"}}class="active"{{end}}><a href="/admin/user/recordList"><i class="fa fa-circle-o"></i> 我的寻人</a></li>
                    <li {{if eq .menu "add_record"}}class="active"{{end}}><a href="/admin/record"><i class="fa fa-circle-o"></i> 添加寻人</a></li>
                </ul>
            </li>
            <li class="treeview {{if eq .leftMenu "comment"}}active{{end}}">
                <a href="#">
                    <i class="fa fa-files-o"></i> <span>评论管理</span>
                    <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                </a>
                <ul class="treeview-menu">
                    {{if (or (eq .role 3) (eq .role 2))}}
                        <li {{if eq .menu "comment_list"}}class="active"{{end}}><a href="/admin/commentList"><i class="fa fa-circle-o"></i> 评论列表</a></li>
                    {{end}}
                </ul>
            </li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
{{end}}