{{define "record"}}
    {{template "header" .}}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <h1 class="mt-4 mb-3">

        </h1>

        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">首页</a>
            </li>
            <li class="breadcrumb-item active">寻人信息</li>
        </ol>

        <div class="row">

            <!-- Post Content Column -->
            <div class="col-lg-12">

                <!-- Preview Image -->

                {{if ne .data.Photo ""}}<img src="{{.data.Photo}}"  class="rounded"> {{end}}
                <p>性别：{{if eq .data.Sex 1}}男{{else if eq .data.Sex 2}}女{{end}}</p>
                <p>失踪地点：{{.data.Address}}</p>
                <p>失踪日期：{{.data.Date}}</p>
                <p>状态：{{if eq .data.IsFind 1}}未找到{{else if eq .data.IsFind 2}}已找到{{end}}</p>
                <hr>
                <p>{{.data.Remark}}</p>

                <hr>

                <!-- Comments Form -->
                <div class="card my-4">
                    <h5 class="card-header">提供线索:</h5>
                    <div class="card-body">
                        <form action="/record/{{.data.ID}}/comment" method="post" enctype="multipart/form-data">
                            <div class="form-group has-error">
                                <span class="help-block" id="show_msg"></span>
                            </div>
                            <div class="form-group">
                                <label for="phone">*联系方式</label>
                                <input type="text" class="form-control col-lg-4" id="phone" name="phone" >
                            </div>
                            <div class="form-group">
                                <input type="file" id="photo" name="photo">
                            </div>
                            <div class="form-group">
                                <label for="remark">*线索描述</label>
                                <textarea class="form-control" rows="3" id="remark" name="remark"></textarea>
                            </div>
                            <div class="form-group">
                                <img src="{{.captchaImage}}" id="refresh">
                            </div>
                            <div class="form-group">
                                <label for="code">*验证码</label>
                                <input type="text" class="form-control col-lg-4" id="code" name="code" >
                            </div>
                            <input type="hidden" name="captcha" id="captcha" value="{{.captchaId}}">
                            <button type="submit" class="btn btn-primary">提交</button>
                        </form>
                    </div>
                </div>

                {{range .comment}}
                <!-- Single Comment -->
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="/static/img/user.png" width="50" height="50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0">用户_{{.ID}}</h5>
                        <p>{{.ShowTime}}</p>
                        <p>{{if ne .Photo ""}}<img src="{{.Photo}}"> {{end}}</p>
                        <p>{{.Remark}}</p>
                    </div>
                </div>
                {{end}}
            </div>

        </div>
        <!-- /.row -->

    </div>
    {{template "footer" .}}
    <script>
        $(function () {
            $('#refresh').click(function () {
                $.ajax({
                    url: '/getCaptcha',
                    type: 'get',
                    dataType: 'json',
                    success: function(data) {
                        $('#captcha').val(data.id);
                        $('#refresh').attr('src', data.image);
                    }
                });
            });

            $('form').submit(function (e) {
                e.preventDefault();
                if ($('#phone').val() == '') {
                    $("#phone").focus();
                    $("#show_msg").text('请输入联系方式');
                    return
                }
                if ($('#code').val() == '') {
                    $("#code").focus();
                    $("#show_msg").text('请输入验证码');
                    return
                }

                if ($('#remark').val() == '') {
                    $("#remark").focus();
                    $("#show_msg").text('请输入线索描述');
                    return
                }

                if ($('#photo').val() != '') {
                    var fileExtension = ['jpeg', 'jpg', 'png', 'gif', 'bmp'];
                    if ($.inArray($('#photo').val().split('.').pop().toLowerCase(), fileExtension) == -1) {
                        $("#show_msg").text('照片格式只支持：' +fileExtension.join(', ') );
                        return
                    }
                }

                var fd = new FormData($(this)[0]);

                $.ajax({
                    url: e.currentTarget.action,
                    type: 'post',
                    dataType: 'json',
                    data: fd,
                    cache: false,
                    contentType: false,
                    processData: false,
                    success: function(data) {
                        $("#show_msg").text('添加成功');
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        $("#show_msg").text(XMLHttpRequest.responseJSON.errmsg);
                        $('#refresh').click();
                    }
                });
            });
        });
    </script>
{{end}}