{{define "user_list"}}
    {{template "admin_header" .}}
    {{template "admin_left" .}}
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                {{.title}}
            </h1>

        </section>

        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header">

                        </div>
                        <!-- /.box-header -->
                        <div class="box-body table-responsive no-padding">
                            <table class="table table-hover">
                                <tr>
                                    <th>ID</th>
                                    <th>用户名</th>
                                    <th>姓名</th>
                                    <th>联系方式</th>
                                    <th>电子邮件</th>
                                    <th>状态</th>
                                    <th>角色</th>
                                    <th>操作</th>
                                </tr>
                                 {{range .data}}
                                <tr>
                                    <td>{{.ID}}</td>
                                    <td>{{.UserName}}</td>
                                    <td>{{.NickName}}</td>
                                    <td>{{.Phone}}</td>
                                    <td>{{.Email}}</td>
                                    <td>{{if eq .Status 0}}正常{{else if eq .Status 1}}封禁{{end}}</td>
                                    <td>{{if eq .Role 1}}用户{{else if eq .Role 2}}志愿者{{else if eq .Role 3}}管理员{{end}}</td>
                                    <td><a class="btn btn-default" href="/admin/user/{{.ID}}"><i class="fa fa-edit"></i> 修改</a> <a class="btn btn-default"><i class="fa fa-trash-o"></i> 删除</a></td>
                                </tr>
                                 {{end}}
                            </table>
                        </div>
                        <!-- /.box-body -->
                        <div class="box-footer clearfix">
                            <ul class="pagination pagination-sm no-margin pull-right" id="pagination"></ul>
                        </div>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
    {{template "admin_footer" .}}
    <script type="text/javascript">
        $(function () {
            window.pagObj = $('#pagination').twbsPagination({
                totalPages: {{.totalPage}},
                visiblePages: 10,
                first:'首页',
                prev:'上一页',
                next:'下一页',
                last:'尾页'
            }).on('page', function (event, page) {
                window.location = '/admin/userList?page=' + page + 'pageSize=' + {{.pageSize}};
            });
        });
    </script>
{{end}}